#mFooter {
  position: fixed;
  display: block;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}
#mHeader {
  position: relative;
  height: 150px;
  background:#F0F0F0;
  /*border:1px solid #CCC;*/
  width: 100%;
  padding: 0px 25px 0px 25px;
}