/* You can add global styles to this file, and also import other style files */
body {
    background-image: url('./assets/images/bg.jpg');
    padding-top: 0em;
    color: beige;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100%;
    text-shadow: red 1px 1px;
    background-color: black;
}
* {
    font-family: 'Raleway';
}
button {
    background:#008FEF;
    color:white;
    padding: 1.2em;
    width:250px;
    text-align:center;
    font-size:1.2em;
    margin-bottom: 30px;
    cursor:pointer;
    text-shadow: none;
}
a {
    background:#008FEF;
    color:white;
    padding: 1.2em;
    width:300px;
    text-align:center;
    font-size:1.2em;
    margin-bottom: 30px;
    cursor:pointer;
    text-shadow: none;
}
label {
  display: block;
  padding-left: 10px;
  text-indent: -5px;
}
input[type='checkbox'] {
  width: 20px;
  height: 20px;
  padding: 0;
  margin-left: 10px;
  vertical-align: bottom;
  position: relative;
  top: -1px;
  *overflow: hidden;
}
.default-router-container {
    /*border:1px solid #CCC;*/
    width: 100%;
    padding: 0px 25px 0px 25px;
    overflow: auto;
    height: 755px;
    background: transparent;
}
ul {
    list-style-type: none;
    margin-bottom: 50px;
}
li {
    padding: 35px;
    clear: both;
}
.float-right {
  float: right;
}
.float-left {
  float: left;
}